body {
    background-image: url('/assets/Images/theater.jpg');
   background-size: cover;
}

*[role="form"] {
   max-width: 600px;
   padding: 20px; 
   margin: auto;
   margin-bottom:110px ;
   border-radius: 0.3em;
   background-color:rgb(39, 35, 30);
  
   color: rgb(253, 244, 253);
}

 h2 { 
   font-family:'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 600;
   color: #fff6f6;
   text-align: center;
 
   
}
button{
    width: 120px;
    margin-left: auto;
}
