<blockquote class="blockquote">
    
  </blockquote>
  <div class="container custom-container-2">
  
   
    <div class="no-data text-center" *ngIf="Users.length == 0">
      <p>Add User!</p>
     
   
    </div>
  
   
    <div *ngIf="Users.length !== 0">
      <h3 class="mb-3 text-center">User List</h3>
  

      
  
  
      <div class="col-md-12">
        <table class="table table-striped table-primary table-hover">
          <thead class="table table-striped table-dark" >
            <tr>
              <th scope="col">user Id</th>
              <th scope="col">Email</th>
              <th scope="col">password</th>
              <th scope="col">Name</th>
              <th scope="col">dob</th>
              <th scope="col">gender</th>
              <th scope="col"> Reg-date</th>
              <th scope="col"> </th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let users of Users">
              <td>{{users.id}}</td>
              <td>{{users.email}}</td>
              <td>{{users.pwd}}</td>
              <td>{{users.name}}</td>
              <td>{{users.dob}}</td>
              <td>{{users.gender}}</td>
              <td>{{users.date}}</td>
              
             

             <td>
              <button class="btn btn-outline-dark btn-sm" routerLink="/app-edit-user/{{users.id}}"> Edit </button>
              &nbsp;&nbsp;
                <button  class="btn btn-outline-danger btn-sm" (click)="deleteUser(users.id)">
                  Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  




      
    </div>

    
  
  </div>