<div class="container-fluid" style="background-color:bisque;"> 
  <router-outlet></router-outlet>
    <div class="about-section" >
      <h1>Cinemaghar.com</h1>
      <p>Cinemaghar is the new smart way of booking online tickets for movies
        in your PC,Mobile device. Cinemaghar steps up your movie watching experience
        with various features like Dolby Digital and latest release.</p>
      <p>We have teamed up with major film studios
        and distributors to bring latest Movies.Gone are the days of low quality
        pirated copies, we bring to you full HD quality movies legally.
        Your every purchase will support the makers and motivates them to come up with
        better contents in Future. Happy Booking and Watching!</p>
    </div>
  
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assets/Images/sh.jpeg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Subhasish Patro</h2>
            <p class="title">DEVELOPER</p>
            <p>subhasish.patro@gmail.com</p>
  
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets/Images/swa.jpeg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Swapna Dhupad</h2>
            <p class="title">DEVELOPER</p>
            <p>swapna@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets/Images/sri.jpeg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Srinwanti Maitra</h2>
            <p class="title">DEVELOPER</p>
            <p>sriniwanti@gmail.com</p>
  
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="assets/Images/swat.jpeg" alt="Mike" style="width:100%">
          <div class="container">
            <h2>S Swathi</h2>
            <p class="title">DEVELOPER</p>
  
            <p>swathi@gmail.com</p>
  
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="assets/Images/ha.jpeg" alt="John" style="width:100%">
          <div class="container">
            <h2>Harsha</h2>
            <p class="title">DEVELOPER</p>
            <p>harsha@gmail.com</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>