<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="card bg-light"  style="background-image:url('assets/Images/popcorn.jpg')">

    <article class="card-body mx-auto" style="max-width: 500px;">
        <h3 class="card-title mt-3 text-center" style="color: bisque;">Create Account</h3>
        <p class="text-center" style="color: bisque;">Get started with your free account</p>

<form>
<div class="container custom-container">
  <div class="col-md-12">
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="email"  #email="ngModel" minlength="10" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
        [class.is-invalid]="email.invalid && email.touched" 
         email="email" class="form-control" 
        placeholder="Email address *" type="email" [(ngModel)]="UserDetails.email" >
        <div *ngIf="email.errors && (email.invalid||email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">email is required</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Invalid email </small>
          </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
     

        <input type="password" name="password" #pwd="ngModel" required minlength="8" 
        [class.is-invalid]="pwd.invalid && pwd.touched" 
        class="form-control" placeholder="Create password *"  [(ngModel)]="UserDetails.pwd" required="required">
        <div *ngIf="pwd.errors && (pwd.invalid||pwd.touched)">
            <small class="text-danger" *ngIf="pwd.errors.required">password is required</small>
            <small class="text-danger" *ngIf="pwd.errors.minlength">must be 8 letters</small>
          </div>











    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input type="text" name="name" #name="ngModel" required minlength="4" 
        [class.is-invalid]="name.invalid && name.touched" 
        class="form-control" placeholder="Full name *"  [(ngModel)]="UserDetails.name" required="required">
        <div *ngIf="name.errors && (name.invalid||name.touched)">
            <small class="text-danger" *ngIf="name.errors.required">name is required</small>
            <small class="text-danger" *ngIf="name.errors.minlength">must be 4 letters</small>
          </div>
    </div>


    <div class="form-group input-group">
        <div class="input-group-prepend">

            <span class="input-group-text"><i class="fa fa-birthday-cake"> Date of Birth</i></span>
        </div>


        <input type="date" name="date"  #dob="ngModel" id="birthDate" [class.is-invalid]="dob.invalid && dob.touched" 
        class="form-control"  
        [(ngModel)]="UserDetails.dob" required="required">
        <div *ngIf="dob.errors && (dob.invalid||dob.touched)">
            <small class="text-danger" *ngIf="dob.errors.required">Date of Birth is required</small>
        </div>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"> Gender </i></span>
        </div>

        <div class="form-check-inline">
            <label class="form-check-label" for="male" style="color: bisque;">
                <input type="radio" #gender="ngModel" id=" male" name="gender" value="male" [class.is-invalid]="gender.invalid && gender.touched"   
                class="form-check-input" [(ngModel)]="UserDetails.gender" checked> Male
                <div *ngIf="gender.errors && (gender.invalid||gender.touched)">
                    <small class="text-danger" *ngIf="gender.errors.required">required!</small>
                </div>
            </label>
            
        </div>

        <div class="form-check-inline">
            <label class="form-check-label" for="female" style="color: bisque;">
                <input type="radio" class="form-check-input" id="female" name="gender" value="female"> Female

            </label>
        </div>


      
    </div>
    
   
 

<div class="form-group input-group">
    <div class="input-group-prepend">

        <span class="input-group-text"><i class="fa fa-calendar"  aria-hidden="true"> Date of
                Registration</i></span>
    </div>


    <input type="date"  #date="ngModel" id="RegistrationDate"  name="date" 
    [class.is-invalid]="date.invalid && date.touched" 
    class="form-control" [(ngModel)]="UserDetails.date" required="required">
    <div *ngIf="date.errors && (date.invalid||date.touched)">
        <small class="text-danger" *ngIf="date.errors.required">Required</small>
    </div>
</div>

   

<div class="form-group">
    <button type="submit" class="btn btn-primary btn-block"  (click)= "addUser()"> Create Account </button>
</div> 


<p class="text-center" style="color: bisque;">Already have an account?
    <a (click)="btnClick();" style="color: bisque;">Log In</a> </p>

  </div>
</div>
</form>
</article>
</div>