<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<h2  class="text-center" style="color:rgb(216, 66, 66);" ><b>WELCOME TO MOVIE TIME</b></h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a routerLink="/app-homepage" class="btn btn-sq-lg btn-danger">
                    <i class="fa fa-user fa-5x"></i><br />
                    Book Movie <br>
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/app-view-by-id" class="btn btn-sq-lg btn-primary" (click)="btnClick();">
                    <i class="fa fa-user fa-5x"></i><br />
                    View My Profile<br> 
                </a >

                

              

            </p>
     
   