<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<blockquote class="blockquote">
   
        <h2  class="text-center" style="color:rgb(255, 0, 34);" ><b>LIGHTS-CAMERA-ACTION</b></h2>
       
        
    <h2  class="text-center" style="color:rgb(255, 0, 119);" ><b>It's time for</b></h2>

    <h2  class="text-center" style="color:rgb(225, 0, 255);" ><b>MOVIE NIGHT</b></h2>

</blockquote>
  <div class="container custom-container-2" >
  
    
    <div class="no-data text-center" >
     
        <h2  class="text-center" style="color:rgb(255, 217, 0);"><b>GET YOUR TICKET HERE</b></h2>

  
    <button type="button" class="btn btn-primary btn-lg"  (click)="loadTicket();">Click Here to Get Ticket</button>