<div class="container-fluid" style="background-image: url('')">


  <!--  <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal" style="display:flex;">
                    <div class="img-square-wrapper">
                        <img class="" src="/assets/Images/urvashi.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body" style="background-color: rgb(228, 208, 183);">
                        <h4 class="card-title">Urvashi Theater</h4>
                        <p class="card-text">No.40, Siddaiah Road Near M T R Hotel, Doddamavalli, Sudhama Nagar,
                            Bengaluru</p>
                        <div>

                            <div class="form-group input-group">
                                <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fa fa-birthday-cake"> Select
                                            Date</i></span>
                                </div>


                                <input type="date" id="date" name="tanggal" style="width:231px">
                            </div>
                            <button type="submit" class="btn btn-outline-danger" data-bs-toggle="button"
                                autocomplete="off" style="margin:5px;" 
                                >2.30 PM</button>

                            <button type="submit" class="btn btn-outline-danger" style="margin:5px;"[(ngModel)]="Theater.t2">6.00 PM</button>
                            <button type="button" class="btn btn-danger" style="margin:30px;" (click)="btn1Click();">Book Now</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->


    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal" style="display: flex;">
                    <div class="img-square-wrapper">
                        <img class="" src="/assets/Images/navarang.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body" style="background-color: rgb(228, 208, 183);">
                        <h4 class="card-title">Navarang Theater</h4>
                        <p class="card-text">2nd Block, 1762, Dr Rajkumar Rd, 2nd Block, Mariappanapalya, Rajajinagar.
                        </p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-birthday-cake"> Select Date</i></span>
                            </div>


                            <input type="date" id="date" name="tanggal" style="width:231px" [(ngModel)]="Theater.date" required="required">
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"> Time </i></span>
                            </div>
                    
                            <div class="form-check-inline">
                                <label class="form-check-label" for="2.30PM" style="color: rgb(8, 8, 8);">
                                    <input type="radio" class="form-check-input" id=" 2.30PM" name="t1" value="2.30PM"   
                                    [(ngModel)]="Theater.t1" checked> 2.30PM
                                </label>
                            </div>
                    
                            <div class="form-check-inline">
                                <label class="form-check-label" for="6.30PM" style="color: rgb(20, 20, 19);">
                                    <input type="radio" class="form-check-input" id="6.3OPM" name="t1" value="6.30PM"> 6.30PM
                    
                                </label>
                            </div>
                    
                    
                          
                        </div>
                        <button type="button" class="btn btn-danger" style="margin:30px;" (click)="chooseTheater()">Book Now</button>

                    </div>
                </div>

            </div>
        </div>
    </div>



<!--   <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal" style="display: flex;">
                    <div class="img-square-wrapper">
                        <img class="" src="/assets/Images/cauvery.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body" style="background-color: rgb(228, 208, 183);">
                        <h4 class="card-title">Cauvery Theater</h4>
                        <p class="card-text">8, 1, Sankey's Rd, Guttahalli, Bengaluru.</p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-birthday-cake"> Select Date</i></span>
                            </div>


                            <input type="date" id="birthDate" name="tanggal" style="width:231px">
                        </div>

                        <button type="submit" class="btn btn-outline-danger" style="margin:5px;">2.30 PM</button>
                        <button type="submit" class="btn btn-outline-danger" style="margin:5px;">6.00 PM</button>
                        <button type="button" class="btn btn-danger" style="margin:30px;" (click)="btn1Click();">Book Now</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>-->